* {
  outline: transparent;
  user-select: none;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #22254b;
  margin: 0px;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 220px;
}

button:focus {
  outline: transparent;
}

.box-shadow {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.span-shadow {
  box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.2);
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
  background-color: #1a1c36;
}

.title {
  margin-top: 20px;
}

.sideBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

.sideBtn div {
  background-color: cornflowerblue;
  margin: 0 1.6px;
  width: 100%;
  height: 100%;
}

.sideBtn button {
  background: transparent;
  border: none;
  color: white;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
}

.friendLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1c36;
  border-radius: 5px;
  margin: 15px;
  height: 50px;
}

.friendSpan {
  margin-left: 5px;
}

.friendLabel small {
  color: cornflowerblue;
}

.account {
  display: flex;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 20px;
}

.account button {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
}
/* END SIDEBAR */

/* MAIN */
.navi {
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  padding: 1.5rem; 
}

.navi .right {
  display: flex;
  right: 0;
}

.navi input {
  background-color: #22254b;
  color: white;
  border: 2px solid #eee;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.navi button {
  margin-right: 20px;
}l

#search::placeholder {
  color: #7378c5;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.games {
  position: relative;
  background-color: #373b69;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  width: 285px;
}

.games img {
  display: inline-block;
  object-fit: cover;
  height: 380px;
  width: 100%;
}

.games-info {
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  letter-spacing: 1px;
}

.games-info h3 {
  margin: 0;
}

.overview {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  padding: 2rem;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.overview h4 {
  margin-top: 0;
  font-weight: 700;
}

.games:hover .overview {
  transform: translateY(0);
}

/* END GAMES */
.utils {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

.waves {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, .75);
  animation: wave 15s infinite linear;
  z-index: -1;
}
/* END GAMES */

/* MODAL */
.modale {
  display: none;
  position: fixed;
  left: 40px;
  bottom: 70px;
  width: 200px;
  overflow: hidden;
  z-index: 1;
}

.modal-content {
  background-color: #1a1c36;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}
/* END MODAL */

@keyframes wave {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}